In [1]:
import pandas as pd

In [2]:
obj = pd.read_csv('objects_test.csv')

In [3]:
obj.head()

      shape   color    area
0    square  yellow  9409.0
1    circle  yellow  4071.5
2  triangle    blue  2028.0
3    square    blue  3025.0
4    square    blue  9216.0

In [106]:
obj.groupby('color').describe()['area'][['mean', 'max', 'std']]

               mean      max          std
color
blue    3208.131667  21642.4  3039.212965
green   5761.119231  27759.1  6695.029606
red     3815.871034  31415.9  5092.678377
yellow  4538.208088  31415.9  5352.460578

In [9]:
obj[(obj['shape']=='square') & (obj['color']=='yellow')].mean()

area    3333.207207
dtype: float64

In [86]:
obj[obj['color']=='green']['shape'].value_counts().head(1)

square    47
Name: shape, dtype: int64

In [126]:
df1 = obj[(obj['color']=='red') & (obj['area']>3000)].groupby(['shape']).count()
total = obj[(obj['color']=='red') & (obj['area']>3000)].count()['shape']
df1['p'] = (df1['area'] / total * 100).astype(int).astype(str) + '%'
df1.sort_values(by=['p'], ascending=False)

          color  area    p
shape
triangle     84    84  67%
circle       20    20  16%
square       21    21  16%

In [36]:
df = pd.DataFrame(index = obj['shape'].unique(), columns=["Proportion red", "Prop blue area"])

In [37]:
df

         Proportion red Prop blue area
square              NaN            NaN
circle              NaN            NaN
triangle            NaN            NaN

In [42]:
obj[(obj['shape']=='square') & (obj['color']=='red')].count()['shape'] / obj[obj['shape']=='square'].count()['shape']

0.11740041928721175

In [50]:
df.index

Index(['square', 'circle', 'triangle'], dtype='object', name='Shape')

In [51]:
df.index[0]

'square'

In [75]:
p_red = []
for s in df.index:
    prop_red = obj[(obj['shape']== s) & (obj['color']=='red')].count()['shape'] / obj[obj['shape']=='square'].count()['shape']
    p_red.append(str(int(prop_red * 100)) + '%')
df['Proportion red'] = p_red

In [76]:
df

         Proportion red Prop blue area
Shape
square              11%            36%
circle               6%             6%
triangle            42%            47%

In [56]:
sum(obj[obj['color']=='blue']['area'])/sum(obj['area'])

0.29273575054649514

In [77]:
p_blue_area = []
for s in df.index:
    prop_blue_area = sum(obj[(obj['shape']== s) & (obj['color']=='blue')]['area'])/sum(obj[obj['shape']== s]['area'])
    p_blue_area.append(str(int(prop_blue_area * 100)) + '%')
df['Prop blue area'] = p_blue_area

In [78]:
df

         Proportion red Prop blue area
Shape
square              11%            36%
circle               6%             6%
triangle            42%            47%